*{
    margin: 0;
}



.modalContain {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: -5%;
    bottom: 0;


}

.modalFrame {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 440px;
    max-width: 670px;
    background: #FFFFFF;
    margin: auto;
    padding: 0 3%;
}

.modalForm {
    display: flex;
    ;
}

.modalInputName {

    width: 395px;
    height: 52px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
}

.modalFrame p {
    text-align: left;
    font-family: Factor A TRIAL;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.0124em;
    text-align: left;

}

.modalHeader {
    display: flex;
    justify-content: space-between;
    font-family: Factor A TRIAL;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.0124em;
    text-align: left;
    margin-bottom: 3%;
}

.modalHeader button {
    border: none;
    font: inherit;
    background: #FFFFFF;
}

input[placeholder] {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #8A8A8A;

    text-align: left;
}
/*input::-moz-placeholder     {text-overflow:ellipsis;}*/
/*input:-moz-placeholder      {text-overflow:ellipsis;}*/
/*input:-ms-input-placeholder {text-overflow:ellipsis;}*/


.modalBtn {
    border: none;
    font: inherit;
    display: flex;
    margin-left: 2%;
    width: 217px;
    height: 52px;
    background: #585CC6;
    border-radius: 2px;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.01em;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;

}

.modalInputReview {
    width: 628px;
    height: 105px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
}

.modalFooter {
    display: flex;
    height: 52px;
    align-items: center;
}

.modalFooter button {
    border: none;
    font: inherit;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 17px 28px;
    width: 203px;
    height: 52px;
    background: #585CC6;
    border-radius: 2px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.modalFooter img {
    height: 19px;
    margin-left: 3%;
}

.modalFooter p {
    width: 293px;
    height: 16px;
    margin-left: 2%;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8A8A8A;
}