* {
  margin: 0;
}
.general {
    background: #585CC6;
    padding-left: 5%;
    padding-bottom: 3%;
}

.general h1 {
    margin-bottom: 10%;

    font-family: Factor A TRIAL;
    font-size: 124px;
    font-style: normal;
    font-weight: 500;
    line-height: 148px;
    letter-spacing: -0.0124em;
    text-align: left;
    color: #FFFFFF;
}

.generalBody {
    display: flex;

}

.generalImg {
    width: 25%;
    max-height: 383px;

}

.rev {
    margin-right: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FFFFFF;
    max-width: 760px;
    margin-bottom: 3%;
    margin-top: -3%;
    padding: 2% 5%;
}
.block p {
    font-family: Factor A TRIAL;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;

}

.block strong {
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

.blockTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blockTitle h3 {
    font-family: 'Factor A TRIAL';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #585CC6;

}

.blockTitle p {
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;

    color: #8A8A8A;


}

.blockInfo {
    display: flex;
}

.blockInfo p {
    margin-right: 10%;
}

.reviews {
    margin-left: -5%;
    /*margin-right: 20%;*/
    margin-top: 5%;
    background: #FFFFFF;
    padding-left: 5%;
}

.reviewsHead {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewsHead h3 {
    font-family: Factor A TRIAL;
    font-size: 68px;
    font-style: normal;
    font-weight: 500;
    line-height: 88px;
    letter-spacing: -0.0124em;
    text-align: left;


}

.reviewsAdd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 52px;
    width: 220px;
    border-radius: 2px;
    padding: 17px 28px 17px 28px;
    background: #585CC6;
    color: #FFFFFF;

    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;

}

.btnLeft {

    height: 56px;
    width: 56px;
    border-radius: 2px;
    margin-left: 2%;
}
.btnLeft p {

}

.btnRight {

    height: 56px;
    width: 56px;
    border-radius: 2px;
    margin-left: 1%;
}


.open {
    visibility: visible;
}

.close {
    visibility: hidden;
}

.revSlider {
    width: 70%;
    max-width: 1200px;
    max-height: 300px;
}