.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 32px 0;
}

.btnHeader {
    height: 52px;
    width: 227px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 17px 28px;

    background: #585CC6;
    border-radius: 2px;
}

.headerUserName {
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #333;
    padding-left: 20px;
}

.btnHeader p {
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FFFFFF;

}